<!-- previous_jobs.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../static/styles.css">
    <title>BeBetter Recommendation System</title>
    <script src="../../static/scripts.js" defer></script>
</head>
<body>

<div class="container">
    <div class="questionnaire">
        <div class="question">
            <h2>Question 4:</h2>
            <p>Text</p>
            <!-- Add input or textarea for user response -->
            <textarea id="bio" rows="4" cols="50"></textarea>
        </div>

        <div class="button-group">
            <!-- Link to the next question or the next section -->
            <a class="button" href="Q3_Cert.html">prev</a>
            <a class="button" href="Q5_Target.html" onclick="saveBioAndNavigate()">Next</a>
        </div>
    </div>
</div>

</body>
</html>
